* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
}


.pclass{
  margin-top:5px
}
.textright{
  text-align: right;
}

.navbar {
    background-color: white;
    /* color: #000000; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    flex-direction: column;
}

.top-nav{
    flex-direction: row;
    display: flex;
    width: 100%;
    height: 100px;
    
}
.nav-logo .logo-item{
  /* display: inline-block; */
  margin: 20px;
  float: right;
}

.numberCircle {
  border-radius: 50%;
  width: 16px;
  height: 16px;
  top: 0;
  right: 0;
  position: absolute;
  background: rgb(221, 24, 24);
  color: #FFFFFF;
  text-align: center;
  font: 2px;
}

.headercolor{
  color: white;
}
.comm-nav{
    flex-direction: row;
    display: flex ;
    width: 100%;
    background-color: #242424;
    flex-wrap: wrap;
    height: 40px;
    align-items: center;
    color: #f2f2f2;
    border-radius: 0px 0px 8px 8px;
    box-shadow: 8px 8px;
}

.comm-list{
  list-style-type: none;
  margin: auto;
  align-items: right;
}
.comm-list .comm-item{
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  color: #FFFFFF;
}

.logo-icon{
    height: 120px;
    align-items: center;
    /* margin-top: 20px; */
}

.navtest{
  list-style-type: none;
  display: inline-block;
    padding: 20px 10px;
    text-align: center;
    margin: 15px;
    margin-top: 0;
}

.nav-list{
    list-style-type: none;
}

.nav-list .list-item {
    display: inline-block;
    padding: 20px 10px;
    text-align: center;
    margin: 15px;
    margin-top: 0;
}

.nav-list .list-image {
    display: inline-block;
    /* padding: 20px 10px; */
    text-align: center;
    /* margin: 15px; */
}

.nav-logo{
    list-style-type: none;
    width: 34%;
    margin-top: 20px;
   
}



.navbar a{
    /* color: #000000; */
    text-decoration: none;

}
.navbar a:hover{
   text-decoration: underline;
}

.menu {
    display: none;
}

.menu-line{
    width: 20px;
    height: 3px;
    background-color: black;
    margin-bottom: 4px;
}

@media all and (max-width : 480px){
    .navbar{
        flex-direction: column;
    }

    .menu{
        display: block;
        position: absolute;
        right: 15px;
        top: 15px;
    }

    .nav-list{
        list-style-type: none;
        width: 100%;
        text-align: center;
        padding-top: 10px;
        display: none;
    }

    .nav-list .list-item {
        display: block;
        padding: 10px;    
        border-top: 1px solid black;
    }
    
    .nav-logo{
        display: none;
    }

    .comm-nav{
        display: none;
    }

    .logo-icon{
        height: 30px;
        margin-left: 10px;
        margin-top: 10px;
    }
}

.active {
    display: block;
}

.logo{
    height: 25px;
}


.logowidth{
  width: 15px;
}
  
form.nosubmit {
    border: none;
    padding: 0;
    /* margin-top: 50px; */
    margin-left: 10px;
    margin-bottom: 50px;

  }
  
  input.nosubmit {
    width: 260px;
    display: block;
    border: none;
    padding: 9px 4px 9px 40px;
    outline: none;
    /* text-decoration: underline; */
    border-bottom: 1px solid #0e0f0e;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
  }
  /* .nosubmit:hover{
    
  } */



  p.small {
    line-height: 0.7;
  }
  

  /* drop down css*/

  .column {
    float: left;
    padding: 10px;
    background-color: #FFFFFF;
    height: 250px;
    width: 25%;
  }
  
  .column a {
    float: none;
    color: black;
    padding: 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  

  .row:after {
    content: "";
    clear: both;
    display: flex;
    flex-direction: row;
  }

  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: #000000;
    background-color: inherit;
    font: inherit;
  }
  
  .dropdown:hover .dropbtn {
    text-decoration: underline;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content .head {
    background: #85dcbA;
    padding: 16px;
    color: #000000;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .collectionbutton{
    border-style: solid;
  border-width: 1px;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  }

  a.collectionbutton:hover{
    background-color: #000000;
    color: white;
  }

  .benefits{
    height: 70px;
    margin-left: 50%;
 
  }

  .footer{
    margin-top: 60px;
    background-color:#363738;
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .columnfooter a {
    float: none;
    color: rgba(224, 243, 239, 0);
    text-decoration: none;
    display: block;
    text-align: left;
    margin-top: 5px;
  }

  a.afooter:hover{
    text-decoration: underline;
  }
  a.afooter{
    color: white;
  }
  .footerimage {
    height: 25px;
    margin: 5px;
  }
  .footerdiv{
    width: 25%;
     margin: 50px;
  }
  

  .inputalign{
    margin-left: 25%;
    padding: 5px;
    margin-right: 25%;
  }

  .inputsubmit{
    margin-left: 30%;
    margin-right: 25%;
  }

  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: red;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 550px;
  }
  
  input[type=submit]:hover {
    background-color: #ec4850;
  }



.zoom:hover {
  -ms-transform: scale(1.03); 
  -webkit-transform: scale(1.03); 
  transform: scale(1.03); 
}

.img-hover-zoom {
  height: 300px; 
  overflow: hidden; 
}

.img-hover-zoom--brightness img {
  transition: transform 2s, filter 1.5s ease-in-out;
  transform-origin: center center;
  filter: brightness(50%);
}

.img-hover-zoom--brightness:hover img {
  filter: brightness(100%);
  transform: scale(1.3);
}



.tech-slideshow .mover-1 {
  animation: moveSlideshow 5s linear infinite;
  

}


@keyframes moveSlideshow {
  100% { 
    transform: translateX(-66.6666%);  
  }
}

.sizemargin{
  margin: 12px;
}
/* trying the image grid */

.parent {
  position: relative;
  top: 0;
  left: 0;
}
.image1 {
  position: relative;
  top: 0;
  left: 0;
}
.image2 {
  position: absolute;
  top: 30px;
  left: 30px;
  margin-left: 150px;
}


.img-hover-zoomlogo--brightness img {
  transition: transform 2s, filter 1.5s ease-in-out;
  transform-origin: center center;
}

/* The Transformation */
.img-hover-zoomlogo--brightness:hover img {
  filter: brightness(100%);
  transform: scale(1.3);
}

/* products page */

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 300px;
  background-color: white;
  border-radius: 12px 12px 0px 0px;
}
.card , .container{
  border-radius:0px 0px 12px 12px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
  background-color:#6a6a6a;
}

/* shoe product specific */
.product{
  width: 60%;
}

.productimage{
  height: 1000px;
}

.mainproduct{
  display: flex;
  flex-direction: row;
}

.productfont{
  font-size: 40px;
  margin-top: 10px;
}

.producttext{
  border: 1px solid #FFFFFF;
  width: 170px;
  height: 20px;
  border-radius: 0.2em;
  background-color: green;
}

.amount{
  margin-top: 25px;
  font-size: 20px;
  margin-bottom: 25px;
}
.hanger{
  width: 30px;
  margin-top: 25px;
}

.hangertext{
  font-size: 12px; 
  margin-top: 30px;
  padding-left: 5px;
}

.ruler{
  width: 25px;
  margin-top: 20px;
}


.sizetypes{
  border: 1px solid #c8d4d2;
  height: 50px;
  width: 50px;
  margin: 10px;
}

.sizecontainer{
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.cartbox{
  border: 1px solid #000000;
  height: 50px;
  width: 350px;
  background-color: #000000;
}

.cartcontainer{
  margin-top: 20px;
  margin-left: 100px;
  display: flex;
  flex-direction: column;
}

.carttext{
  color: #FFFFFF;
  margin-top: 15px;
  text-align: center;
}


.wishbox{
  border: 1px solid #000000;
  height: 50px;
  width: 350px;
  margin-top: 10px;
}

.wishtext{
  color: #000000;
  margin-top: 15px;
  text-align: center;
}

.descriptioncontainer{
  margin-top: 50px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.description{
  font-size: 20px;
}

.descriptiontext{
  margin-top: 5px;
  font-size: 16px;
}

.recomondations{
  font-size: 24px;
 text-transform: uppercase;
 padding: 10px;
}

/* cart css */
.cartheader{
  font-size: 32px;
  font-weight: 700;
  padding: 10px;
}

.paycard {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 50%;
  height: 250px;
  background-color: white;
  /* border-radius: 12px 12px 0px 0px; */
  margin: 5px;
  display: flex;
  flex-direction: row;
}

.paycontainer {
  padding: 2px 16px;
  background-color:#6a6a6a;
}

.payimage{
  margin: 20px;
  width: 150px;
  height: 200px;
  border: 1px solid #e0d3d3;
}

.paycontent{
  margin: 15px;
  width: 35%;
}

.paycontenttext{
  font-weight: 600;
}

.paynormaltext{
  padding: 10px;
}

.paycontentamount{
  margin: 15px;
  text-align: right;
  width: 35%;
}


.paymenttextbox{
  border: 1px solid #f3e7e7;
  height: 50px;
  width: 600px;
  margin: 20px;
  border-radius: 0.2em;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.paymenttextboxpayal{
  border: 1px solid #f3e7e7;
  height: 50px;
  width: 600px;
  margin: 20px;
  border-radius: 0.2em;
  display: flex;
  flex-direction: row;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.fullwidth{
  width: 100%;
}

.wrapper{
  display: flex;
  flex-direction: row
}
.wrapper2{
  display: flex;
  flex-direction: row;
}

.testing{
  margin: auto;
  display: block;
}

.partnerlogo{
  display: block;
  margin: auto;
  height: 50px;
}

.sizetypes:hover{
  background-color: #000000;
  color: white;
}

.pencil{
  padding: 10px;
  width: 10px;
}

.contentwidth{
  width: 35%;
}


/* media queries */
@media (max-width: 768px) { 
  .wrapper {
    display: flex;
    flex-direction: column; 
  }
  .wrapper2 {
    display: flex;
    flex-direction: column; 
  }
  .inputsubmit{
    margin: auto;
  }
  .benefits{
    margin: auto;
    display: block;
  }
  .testing{
    margin: auto;
    display: block;
  }
  .promocard {
    order: 1;
    width: auto;
  }
  .paymenttextbox{
    width: auto;
  }
  .paycard{
    clear: both;
    width: auto;
  }
  .paymenttextboxpayal{
    width: auto;
  }
}

@media (max-width : 768px){
  .footer{
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
  }
}


@media (max-width: 768px) { 
  .mainproduct{
    display: flex;
    flex-direction: column; 
  }
  .product{
    width: auto;
    /* height: auto; */
  }
  .fullwidth{
    width: auto;
  }
  .carttext{
    width: auto;
  }
  .cartcontainer{
    width: auto;
    margin: auto;
  }
  .productfont{
    font-size: 20px;
  } 
  .smallsize{
    width: 100%;
  }
  .widthfifty{
    width: 100%;
    overflow: hidden;
  }
  .widththirtytwo{
    width: 100%;
  }
  .widthseventy{
    width: 100%;
  }
  .widththirty{
    width: 100%;
  }
  .widthtwenty{
    width: 100%;
  }
  .widthtwentyfive{
    width: 100%;
  }
}

@media (min-width: 768px){
.widthtwenty{
    width: 20%;
}
.widthfifty{
  width: 50%;
}
.widththirtytwo{
  width: 32%;
}
.widththirty{
  width: 30%;
}
.widthseventy{
  width: 70%;
}
.widthtwentyfive{
  width: 25%;
}

}


.glassBox {
  width: 100%;
  height: 250px;
  max-width: 300px;
  border-radius: 5px;
  padding: 15px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  margin-top: 15px;
}
.glassBox, .glassBox * {
  transition: 400ms;
}
.animebackground{
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}
.glassBox__imgBox img {
  display: block;
  width: 100%;
  height: auto;
  
}

.glassBox:hover .glassBox__imgBox {
  transform: translateY(-50px);
}
.glassBox:hover .glassBox__imgBox img {
  transform: translate(-20px, -40px) rotate(-15deg) scale(1.4);
}